<mat-drawer-container class="example-container" autosize>
  <!-- MENU LATERAL - INICIO SIDENAV -->
  <!-- Este id #drawer se comunica con el botón -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    @if (showFiller) {
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>
  <!-- MENU LATERAL - FIN -->

  <!-- AREA CONTENIDO - INICIO -->
  <div class="example-sidenav-content">
    <!-- Acá en el padre, donde estoy usando el componente donde definí el componente hijo, aplico el binding () . Cuando el padre escuche ese evento, lo que va a hacer va en las comillas -->
    <app-toolbar (myDrawerToggle)="drawer.toggle()" />
    <!-- SIDENAV -->
    <!-- Este drawer.toggle(), el drawer hace referencia al ID #drawer que dentro tiene la funcion toggle. 
       Ahora: yo quiero llamar a esta funcion, desde el toolbar. Quiero que al clickear en el botón del toolbar, se dispare esa funcion. 
       TOOLBAR -> HIJO
       DASHBOARD -> PADRE -->

    <app-students />

    <!-- Lo dejo de ejemplo para marcar que el toolbar reemplazó este boton -->
    <!-- <button type="button" mat-raised-button (click)="drawer.toggle()">
        Toggle sidenav
      </button> -->
  </div>

  <!-- AREA CONTENIDO - FIN -->
</mat-drawer-container>
