<mat-drawer-container class="example-container py-2" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      @if (showFiller) {
      <p>Lorem, ipsum dolor sit amet consectetur.</p>
      }
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>

    <div class="example-sidenav-content">
      <app-toolbar (myDrawerToggle)="drawer.toggle()" />
      <app-students />
    </div>
</mat-drawer-container>
