<!-- 
 dentro de las comillas, entiende JS
<p [ngClass]="">
-->

<!-- <p [ngClass]="1+2" >
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
</p> -->

<!-- sin corchetes [], el contenido dentro de las comillas es un texto plano -->
<p ngClass="1+2" >
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
</p>

<p [ngClass]="{
  success: estadoEnvio === 'entregado',
  error: estadoEnvio === 'rechazado',
  pending: estadoEnvio === 'pendiente'
}">
  estadoEnvio
</p>

<p [class.error]="hayError" [class.success]="!hayError" >
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
</p> 
