<!-- 
 dentro de las comillas, entiende JS
<p [ngClass]="">
-->

<!-- <p [ngClass]="1+2" >
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
</p> -->

<!-- TERNARIO -->
<p [ngClass]="hayError ? 'error' : 'success' ">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
</p>

<!-- sin corchetes [], el contenido dentro de las comillas es un texto plano -->
<p ngClass="1+2">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
</p>

<p [ngClass]="{
  success: estadoEnvio === 'entregado',
  error: estadoEnvio === 'rechazado',
  pending: estadoEnvio === 'pendiente'
}">
  estadoEnvio
</p>

<p [class.error]="hayError" [class.success]="!hayError">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
</p>

<p [ngStyle]="{
  fontSize: hayError ? 'x-large' : 'small'
}">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur tempora facere qui, obcaecati sed eos, praesentium
</p>

<p [style.text-decoration]="hayError ? 'underline' : 'unset' ">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur tempora facere qui, obcaecati sed eos, praesentium
</p>

<!-- DIRECTIVAS PERSONALIZADAS -->

<!-- 
ng g d directives/resaltado
con la propiedad selector invoco a la Directiva/Componente

¿Cómo hago para recibir un elemento, o una referencia al elemento que quiero modificar aplicando una directiva?
*Inyeccion de dependencias usando el constructor de la clasede la directiva*


-->
<!-- Todo a lo que yo le ponga 'appResaltado' va a tener lo que defino en la Directiva -->
<p appResaltado>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet dolores fuga libero est eius. Tenetur
  blanditiis voluptate laudantium. Accusantium ullam aperiam veniam est impedit facilis nemo quia ccusamus quod
  aspernatur
</p>

<h3 appResaltado>hola</h3>


<!-- DIRECTIVAS ESTRUCTURALES -->
<!-- 
Permiten renderizar multiples contenidos.
Van siempre con un * adelante
-->
