<!-- La navegacion/enrutamiento de angular, provee la directiva routerLink="", es cómo el Link, Route, Routes de React. routerLink maneja una navegacion dentro de Angular. href no, porque usa el coportamiento por defecto del navegador, va a recargar todo el docuumento, la pantalla se va a poner en blanco al recargar. Indico una ruta relativa en routerLink     -->
<mat-nav-list>
  <a mat-list-item routerLink="home" > Inicio </a>
  <a mat-list-item routerLink="students" > Estudiantes </a>
  <a mat-list-item routerLink="courses" > Cursos </a>
</mat-nav-list>
