<ul class="list-group">
    <li *ngFor="let student of students" class="list-group-item">
        <!-- Quiero que la lista EMITA un evento, cuando se hace click en el boton -->
        {{student.id}} - {{student.name}} 
        <!-- El emisor de eventos se llama remove, .emit es una propiedad. Como hago para recibir el evento en el padre? Tengo que atraparlo en un metodo de la funcion en el componente padre -->
        <button (click)="remove.emit(student.id)" class="btn btn-danger">X</button>
    </li>
</ul>