.login {
  background-color: rgba(11, 0, 12, 0.361);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login_boton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}


