<!-- La navegacion/enrutamiento de angular, provee la directiva routerLink="", es cómo el Link, Route, Routes de React. routerLink maneja una navegacion dentro de Angular. href no, porque usa el coportamiento por defecto del navegador, va a recargar todo el docuumento, la pantalla se va a poner en blanco al recargar. Indico una ruta relativa en routerLink     -->
<mat-nav-list>
  <a
    *ngFor="let item of linktems"
    [routerLink]="item.routerLink"
    routerLinkActive
    #linkItem="routerLinkActive"
    [activated]="linkItem.isActive"
    mat-list-item
  >
    {{ item.label }}
  </a>
  <a mat-list-item routerLink="courses" (click)="logout()"> Cerrar sesión </a>
</mat-nav-list>