<!-- TOOLBAR - INICIO -->
<mat-toolbar>
  <button
    (click)="myDrawerToggle.emit()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="d-flex justify-content-between w-100">
    <span>My App</span>

    <span>{{ title }}</span>
    <div *ngIf="userRole$ | async as myRole">
      <span>Rol: {{ myRole }}</span>
    </div>
    <div *ngIf="userName$ | async as userName">
      Bienvenido, {{ userName }}
    </div>
  </div>
</mat-toolbar>
<!-- TOOLBAR - FIN -->
