.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.link-card {
  width: 250px;
  padding: 16px;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
