<p>course-detail works!</p>

<ng-container *ngIf="isLoading; else checkError">
  <mat-spinner></mat-spinner>
</ng-container>

<ng-template #checkError>
  <ng-container *ngIf="errorMessage; else coursesTable">
    <p>{{ errorMessage }}</p>
  </ng-container>
</ng-template>

<ng-template #coursesTable>
  <h2>{{ course?.name }}</h2>
  <h4>Profesores:</h4>
  <!-- Tabla para editar, crear, eliminar -->
  <mat-list>
    <mat-list-item *ngFor="let professor of course?.professors">
      {{ professor.name }}
    </mat-list-item>
  </mat-list>
</ng-template>
