<p>courses works!</p>
<ng-container *ngIf="isLoading; else coursesTable">
  <mat-spinner></mat-spinner>
</ng-container>

<ng-template #coursesTable>
  <button (click)="openFormDialog()" mat-flat-button >Crear curso</button>
  <app-courses-table 
  [dataSource]="coursesData"
  (toDelete)="onDelete($event)"
  (toEdit)="openFormDialog($event)"
  />
  <!-- Escucho el evento toDelete, y le paso una funcion para hacer ALGO al escucharlo -->
   <!-- El $event, representa, lo que emite el evento Ref.01 -->
</ng-template>