<div class="bg-primary">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <!-- a la etiqueta le indico que el formGroup que va a controlar este formulario es el loginForm 
         aplico la directiva formControlName="el control del .ts"
        -->
        <div class="row">
          <div class="col-6">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email address</label
                >
                <input
                  formControlName="emailFB"
                  type="email"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': myControlIsValidOrInvalid(
                      'emailFB',
                      'invalid'
                    ),
                    'is-valid': myControlIsValidOrInvalid('emailFB', 'valid')
                  }"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Email"
                />
                <!-- 1# loginForm.get('emailFB')?.valid ? 'is-valid' : 'is-invalid'  -->
                <!-- #2 "
                    loginForm.get('emailFB')?.touched
                      ? loginForm.get('emailFB')?.valid
                        ? 'is-valid'
                        : 'is-invalid'
                      : ''
                  " -->
                <!-- #3 "{
                    'is-invalid':
                      (loginForm.get('emailFB')?.touched &&
                      loginForm.get('emailFB')?.invalid), 
                      'is-valid':
                      (loginForm.get('emailFB')?.touched &&
                      loginForm.get('emailFB')?.valid), 
                  }" -->

                <!-- 
                Este es el operador de acceso opcional (o safe navigation operator). Se utiliza para evitar errores si el control "emailFB" no existe o es null. En lugar de lanzar un error, simplemente devolverá undefined.

                A control is valid when its status is VALID.
                @returns
                @see — AbstractControl.status
                True if the control has passed all of its validation tests, false otherwise.
                -->

                <div id="emailHelp" class="form-text">
                  El campo es valido: {{ loginForm.get("emailFB")?.valid }}
                </div>

                <div id="emailHelp" class="form-text">
                  Los errores del campo email son:
                  {{ controllerErrors("emailFB") | json }}
                </div>

                <div *ngIf="myControl('emailFB')?.touched">
                  <p *ngIf="hasErrors('emailFB', 'required')">
                    Este campo es requerido
                  </p>
                  <p *ngIf="hasErrors('emailFB', 'email')">Email no válido</p>
                  <p *ngIf="hasErrors('emailFB','noHomero')"
                    >No se admiten homeros</p
                  >
                </div>

                <!-- <divngIf="myControl('emailFB')?.touched" class="form-text">
                  @if(hasErrors('emailFB','required')){
                  <p>Este campo es requerido</p>
                  } @else if (hasErrors('emailFB','emailFB')) {
                  <p>Email no valido</p>
                  }
                </div> -->
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Password</label
                >
                <input
                  formControlName="passwordFB"
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="Password"
                />
              </div>
              <div class="mb-3 form-check">
                <input
                  formControlName="rememberMeFB"
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                />
                <label class="form-check-label" for="exampleCheck1"
                  >Check me out</label
                >
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="col-6">
            <pre>{{ loginForm.value | json }}</pre>
            <!-- Hasta este paso, si escribo algo en el input email -->
            <!-- {{ loginForm.value }} // [Object object] -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
